{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true
    },
    "transform": {
      "react": {
        "pragma": "JSX.createElement",
        "pragmaFrag": "JSX.Fragment"
      }
    }
  }
}
